<html>
    <body>
        <h1>
            Predict credit card default of customer</h1>
            <form action="/" method = "post">
                <p>Please enter customer's income:</p>
                <p><input type="number" step="0.01" name = "income"></p>
                <p>Please enter customer's age:</p>
                <p><input type="number" step="0.01" name = "age"></p>
                <p>Please enter customer's loan amount:</p>
                <p><input type="number" step="0.01" name = "loan"></p>
                <p><input type="submit" value="enter"></p>
            </form>
            {{result}}
    </body>
</html>